<title>Главная</title>
<div>
    <h2 align=center style class="text">Добро пожаловать!</h2>
    <p align="center">
   Без стилей за то не лагает
    </p>
    <ul class="">
        <li>Больщое количество моделий</li>
        <li>Очень крутой сайт</li>
        <li>Удобный поиск по сайту</li>
        <li>Удачный покупок </li>
    </ul>
</div>
<style>
ul {
    border: 4px solid rgb(4, 165, 66);
padding: 3px;
}
</style>
<style>
    .text {
  text-shadow: 2px 2px 3px black, 0 0 1em red;
    color: antiquewhite;
    font-size: 2em;
    }
</style>